@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --lightgrey: #d9d9d9;
  --grey: #848484;
  --lightblue: #F0F9FF;
  --secondary: #fbfbfb;
  --primary: #212121;

  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);

  --fontweight: 400;

  --font-roboto: '__Roboto_ba9cb9', '__Roboto_Fallback_ba9cb9';
  --font-Josefin: '__Josefin_Sans_b0596a', '__Josefin_Sans_Fallback_b0596a';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  margin: auto;
  overflow-x: hidden;
  background: var(--white);
  color: var(--primary);
  line-height: 1.3;
}

.section {
  padding: 50px 110px;
  max-width: 1480px;
  margin: auto;
}

body h1 {
  font-weight: var(--fontweight);
  font-size: 95px;
  line-height: 120px;
}

body h2 {
  font-weight: var(--fontweight);
  font-size: 80px;
}

body h3 {
  font-weight: var(--fontweight);
  font-size: 50px;
}

body h4 {
  font-weight: var(--fontweight);
  font-size: 40px;
}

body h5 {
  font-weight: var(--fontweight);
  font-size: 30px;
}

body h6 {
  font-weight: var(--fontweight);
  font-size: 22px;
}

body p {
  font-weight: var(--fontweight);
  font-size: 20px;
}

body small {
  font-weight: var(--fontweight);
  font-size: 16px;
  line-height: 1.3;
}

@media (max-width: 1440px) {
  body h1 {
    font-size: 70px;
    line-height: 88px;
  }

  body h2 {
    font-size: 40px;
  }

  body h3 {
    font-size: 30px;
  }

  body h4 {
    font-size: 25px;
  }

  body h5 {
    font-size: 20px;
  }

  body h6 {
    font-size: 18px;
  }

  body p {
    font-size: 18px;
    line-height: 40px;
  }

  body small {
    font-size: 16px;
    line-height: 23px;
  }

  .section {
    padding: 100px;
  }
}

@media (max-width: 1280px) {
  body h1 {
    font-size: 60px;
    line-height: 78px;
  }

  body h2 {
    font-size: 40px;
    line-height: 50px;
  }

  body h3 {
    font-size: 30px;
  }

  body h4 {
    font-size: 22px;
  }

  body h5 {
    font-size: 20px;
  }

  body h6 {
    font-size: 20px;
  }

  body p {
    font-size: 16px;
    line-height: 33px;
  }

  body small {
    font-size: 16px;
    line-height: 30px;
  }

  .section {
    padding: 70px;
  }
}


@media (max-width: 768px) {
  .section {
    padding: 24px;
    max-width: 540px;
    margin: auto;
  }
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-lightgrey {
  color: var(--lightgrey);
}

.color-lightblue {
  color: var(--lightblue);
}

.color-black-50 {
  color: var(--black-50);
}

.color-black-40 {
  color: var(--black-40);
}

.color-black-30 {
  color: var(--black-30);
}

.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-grey {
  color: var(--grey);
}

.font-Weight-500 {
  font-weight: 500;
}

.font-Weight-600 {
  font-weight: 600;
}

.font-Weight-700 {
  font-weight: 700;
}

.font-Weight-800 {
  font-weight: 800;
}


/* CARD STYLE */

.card-container:hover .card-description {
  display: block;
  animation-name: example;
  animation-duration: 0.3s;
  z-index: 0;
}

.card-title {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 330px;
}

.primary-Button svg {
  width: 22px;
  height: 22px;
}

.primary-Button svg path,
.primary-Button svg circle {
  stroke: white;
}

.primary-Button:hover svg path,
.primary-Button:hover svg circle {
  stroke: black;
}

@keyframes example {
  from {
    transform: translatey(100px)
  }

  to {
    transform: translatey(0px)
  }
}